[Unit]
Description=Moxa UC5100 series initial setting
Before=rc-local.service moxa-push-button.service

[Service]
Type=oneshot
ExecStart=/sbin/uc5100_platform_init start
ExecStop=/sbin/uc5100_platform_init stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target poweroff.target
