KERNEL=="ttyUSB[0-9]*", KERNELS=="2-1.1:1.0", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM0"
KERNEL=="ttyUSB[0-9]*", KERNELS=="2-1.1:1.1", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM1"
KERNEL=="ttyUSB[0-9]*", KERNELS=="2-1.1:1.2", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM2"
KERNEL=="ttyUSB[0-9]*", KERNELS=="2-1.1:1.3", SUBSYSTEM=="tty", ACTION=="add", SYMLINK+="ttyM3"
