KERNEL!="mmcblk[0-9]p[0-9]", GOTO="sd_cards_auto_mount_end"

# Global mount options
ACTION=="add", ENV{mount_options}="relatime"
# Filesystem specific options
ACTION=="add", IMPORT{program}="/sbin/blkid -o udev -p %N"
ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,gid=100,umask=002"
ACTION=="add", RUN+="/sbin/chk_fs '%k' '$env{mount_options}'"

ACTION=="remove", RUN+="/bin/umount -l /media/sd-%k", RUN+="/bin/rm -rf /media/sd-%k"
LABEL="sd_cards_auto_mount_end"
