Source: uc5100-system
Section: admin
Priority: required
Maintainer: Elvis Yao <ElvisCW.Yao@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://www.moxa.com/

Package: uc5100-base-system
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         uc5100-moxa-configs (= ${binary:Version}),
         uc5100-sparklan-firmware (= ${binary:Version}),
         uc5100-kernel (>= 2.0.0),
         uc5100-modules-std (>= 2.0.0),
         moxa-version (>= 1.0.0),
         moxa-led-control,
         moxa-push-button,
         moxa-uart-control,
         moxa-dio-control,
         moxa-module-control (>= 1.3.1),
         moxa-firmware-tools,
         moxa-cellular-utils,
         moxa-wifi-utils,
         moxa-cellular-signald,
         moxa-wifi-signald,
         moxa-nport-real-tty-utils,
         u-boot-tools,
         tpm2-tools
Description: Base system for UC-5100
 It contains the necessary tools for setting up UC-5100

Package: uc5100-moxa-configs
Architecture: any
Depends: ${misc:Depends}
Description: UC-5100 platform configuration file
 The platform-related configuration items are recoreded in this file,
 these items will be referred to other platform packages

Package: uc5100-sparklan-firmware
Architecture: any
Depends: ${misc:Depends}
Description: Sparklan 160 ACN WiFi module firmware on moxa UC-5100 series.

